@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
	  font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
}
.homePage {
	background: #0A0316;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #7500FF;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #7500FF;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #FFFFFF;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #4808AE;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
a:link {
     color: #0DF41A;
}
a:visited {
     color: #0DF41A;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
